/*
 *  Style Sheet for GARTH Monitoring System
 *
 *  Created 08/09/2010 by Caleb Wherry
 *
 *  Copyright 2010 Korovasoft, Inc. All Rights Reserved.
 *  Licensed for use subject to terms of LICENSE file.
 *
 */

#body {
  background-color: #ffffff;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
  width: 800px;
  height: auto;
}

a {
  color: #990000;
  text-decoration: none;
}

a:hover {
  color: #FF000F;
}  
